header {
  background-image: url(../image/museum-2203648_1920.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  padding-top: 150px;
}

.header_logo {
  background-image: url(../image/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 110px;
  height: 80px;
  animation: pageTitle 2s;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.header_title {
  animation: pageTitle 2s;
}

.header_title h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 2px #4e5c5f;
}

@keyframes pageTitle {
  from {
    opacity: 0;
  }
}

.download_pc {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.contents {
  margin: 0 auto;
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
}

.download_apple {
  background-image: url(../image/Badge_Appstore.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
  width: 165px;
  height: 50px
}

.download_google{
  background-image: url(../image/Badge_Googleplaystore.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 165px;
  height: 50px
}

.header_text {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

.service_list img {
  width: 100%;
}

.service_list li  h2 {
  color: #4e5c5f;
}

.service_list li p {
  color: #4e5c5f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price_container {
  background-color: #e7e3df;
}

.bouquet {
  margin: 0 auto;
}

.content {
  margin-top: 35px;
  position: relative;
}

.bouquet h2 {
  color: #4e5c5f;
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}

.balloon {
  background-image: url(../image/price_freetrial.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 48px;
  width: 130px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.bouquet_picture {
  background-image: url(../image/monet.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.bouquet_text {
  color: #3F4344;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}

.comment {
  color: #3F4344;
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}

.item_frequency {
  margin: 0 auto;
}

.item_frequency h2 {
  color: #3F4344;
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}

.item_frequency_picture {
  background-image: url(../image/img_frequency.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  margin-top: 20px;
}

.flower_container {
  padding: 40px 40px;
}

.flower_picture {
  background-image: url(../image/people-2590655_1280.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.flower_introduction {
  margin: 0 30px;
  
}

.flower_title {
  color: #3f434a;
  letter-spacing: 0.1em;
  text-align: center;
}

.flower_listTitle {
  color:  #3f434a;
  padding: 20px 0;
  text-align: center;
}

.flower_text {
  color: #3f434a;
}

.vace_container {
  background-color: #e7e3df;
  padding: 70px 40px;
}

.vace_item {
  margin: 0 auto;
}

.vace_title {
  color:  #3f434a;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
}

.vace_discount {
  margin-top: 10px;
  display: flex;

}

.vace_discount p {
  background-color: #fff;
  color: #3f434a;
  font-size: 14px;
  font-weight: bolder;
  display: inline-block;
  margin: 0 auto;
  padding: 8px 8px;
}

.vace_text p {
  color: #3f434a;
  letter-spacing: 0.1;
}

.vace_list {
  margin-top: 30px;
}

.vace_list p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.vace_list li {
  position: relative;
}

.bell {
  background-image: url(../image/frame4.png);
  background-size: cover;
  background-position: center;
}

.moon {
  background-image: url(../image/frame5.png);
  background-size: cover;
  background-position: center;
}

.candle {
  background-image: url(../image/frame6.png);
  background-size: cover;
  background-position: center;
}

.vace_picture {
  background-image: url(../image/vace.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.vace_specialOrder {
  display: flex;
  margin-top: 30px;
}

.vace_condition {
  border: solid 2px #3f434a;
  padding: 5px 10px;
}

.vace_condition p {
  color: #3f434a;
  font-size: 14px;
  line-height: 1.6;
  font-weight: bolder;
}

.vace_price {
  margin-left: 20px;
}

.discount_price {
  color: #3f434a;
  font-size: 18px;
  line-height: 1.6;
}

.normal_price {
  color: #3f434a;
  font-size: 14px;
  line-height: 1.6;
}

.foot_note {
  color: #3f434a;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 20px;
}

.benefit_container {
  padding: 100px 50px;
}

.benefit_title {
  color:  #3f434a;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
}

.benefit_list {
  margin-top: 30px;
}

.benefit_item {
  text-align: center;
}

.benefit_icon img{
  height: 100px;
}

.benefit_icon{
  display: inline-block;
}

.benefit_item h3 {
  color:  #3f434a;
  text-align: center;
  margin-top: 20px;
}

.benefit_item p {
  color:  #3f434a;
  text-align: center;
  margin-top: 20px;
}


footer {
  background-color: #3f434a;
  position: relative;
}


.footer_list li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.instagram {
  background-image: url(../image/icon_instagram.png);
  background-size: contain;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 30px;
  right: 20px;
}

.copyright {
  margin-top: 170px;
}

.copyright p {
  color: #fff;
  opacity: 0.4;
  font-size: 13px;
  text-align: center;
}
